{% extends 'base.html.twig' %}

{% block title %}Âge - {{ parent() }}{% endblock %}

{% block body %}
    <p>
        Vous êtes né en {{ birthYear }}.
    </p>
    <p>
        Nous sommes en {{ year }}.
    </p>
    <p>
        Cette année vous avez ou vous aurez {{ age }}.
    </p>
{% endblock %}
